<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found - {{$$.plugin.blog.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/hyde.css">
    <meta name="generator" content="Silky" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{$$.plugin.blog.feed}}">
</head>
<body class="home-template">
{{import "module/header"}}
<div class="content container">
    <div class="not_found">
        <h1>404</h1>
        <p>校长说：你访问的地址被外星人吃掉了 ^_^</p>
    </div>
</div>

{{import "module/footer"}}
</body>
</html>